/**********/
/*PROJECTS*/
/**********/


/*Thumbnails*/
.projects {
    padding-top: 56px;
    display: grid;
    grid-template-columns: 1fr;
}

.projects .tile {
    /* aspect-ratio: 1 / 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}
.projects > .tile::before {
    content: "";
    height: 0;
    display: inline-block;
    padding-bottom: 100%;
    position: relative;
}
.projects .tile a {
    display: block;
}
.projects .tile img {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0 auto;
    width: 50%;
    max-width: 100%;
}

.projects .tile-intro {
    background-color: var(--colour_light);
}
.projects .tile-shltr {
    background-color: var(--colour_main-shltr);
}
.projects .tile-disclosure {
    background-color: var(--colour_main-disclosure);
}
.projects .tile-raywater {
    background-color: var(--colour_main-raywater);
}
.projects .tile-gf {
    background-color: var(--colour_main-gf);
}
.projects .tile-tdp {
    background-color: var(--colour_main-tdp);
}


/* .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
    line-height: 140%;
    height: 50vh;
}
.projects .intro .blurb {
    font-family: var(--main-text);
    font-size: .6em;
    text-transform: none;
    line-height: 140%;
    letter-spacing: 0;
    margin-top: .5em;
} */

.thumb-details {
    display: none;
    position: absolute;
}




/*******/
/*ABOUT*/
/*******/
.container {
    max-width: 800px;
    margin: 0 auto;
}
.about {
    padding: 3em 2em 1em 2em;
    margin-top: 56px;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden; */
}
.about .heading {
    margin-bottom: .5em;
}
.about .blurb {
    margin-bottom: 1em;
}


/*CONTACT*/
.contact {
    position: relative;
    /* height: 100vh; */
}
.contact .blurb {
    margin-bottom: 1em;
}
.resume {
    background-color: var(--primary-colour);
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: .5em;
    display: flex;
    justify-content: center;
}
.resume a {
    color: var(--main-dark);
    font-family: var(--heading-text);
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    padding: .25em 1em;

}


/* Icons */
.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 100%; */
    margin-bottom: 2em;
}
.socials .link {
    position: relative;
    /* width: 100%; */
    /* margin: 0 auto; */
    padding: 2.5em;

}
.socials a {
    /* margin: .5em; */
    display: flex; 
    align-items: center;
    justify-content: center;
    /* border-radius: 100%; */
    text-decoration: none;
}

.socials__icon {
    font-size: 2em;
    color: var(--background);
}
.socials__background {
    font-size: 3.5em;
    color: var(--main-dark);
}
.socials a:hover .socials__background{
    color: var(--primary-colour);
}
.socials a:hover .socials__icon {
    color: var(--main-dark);
}

/* github is reverse of normal icons */
.github .socials__icon {
    font-size: 3.5em;
    color: var(--main-dark); 
}
.github .socials__background {
    font-size: 3.5em;
    color: var(--background);
}
.socials .github a:hover .socials__background{
    color: var(--main-dark);
}
.socials .github a:hover .socials__icon {
    color: var(--primary-colour);
}











/*************/
/*BREAKPOINTS*/
/*************/


@media screen and (min-width: 768px) {

    /*Thumbnails*/
    .projects {
        grid-template-columns: 1fr 1fr;  
    }

}



@media screen and (min-width: 1024px) {

    /*Thumbnails*/
    .projects {
        grid-template-columns: 1fr 1fr 1fr;  
        min-height: 100vh;
    }


  
    /* Project thumbnail hover */

    .tile:hover .thumb-details {
        background-color: var(--main-dark-opacity);
        color: var(--background);
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        /* opacity: 1;  */
        /* transition: all .25s ease-in-out; */

    }

}


@media screen and (min-width: 1440px) {

    .projects {
        grid-template-columns: 1fr 1fr 1fr 1fr;  
        /* min-height: 100vh; */
    }
    .projects > .tile::before {
        padding-bottom: 50%;
    }
    .tile-shltr {
        grid-column: 2 / 4;
    }
    .tile-raywater {
        grid-column: 1 / 3;
    }
}