/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,800;1,500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {

    /*COLOURS*/
    --background: rgb(255, 255, 255); /*#ffffff*/
    --main-text: rgb(45, 45, 45); /*2d2d2d*/
    --main-dark: rgb(45, 45, 45);
    --primary-colour: rgb(0, 214, 203); /*#00D6CB*/
    --primary-tint: rgba(0, 214, 203, .3); /*#00D6CB*/
    --secondary-colour: rgb(186, 127, 221); /*#BA7FDD*/

    /*FONTS*/
    /* --heading-text: font-family: 'Raleway', sans-serif; */
    --heading-text: 'Montserrat', sans-serif;
    --main-text: 'Open Sans', sans-serif;

}



/*********/
/*GENERAL*/
/*********/
/* body {
    padding-top: 48px;
} */
/* .main {
    height: 100vh;
} */

html, body {
    height: 100%;
}
.about, .contact {
    padding: 2em 2em;
    /* margin: 2em 0; */

    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading {
    font-family: var(--heading-text);
    font-size: 2em;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    /* padding-bottom: .25em; */
    /* margin-bottom: 1em; */
    letter-spacing: 3px;
}
.subheading {
    font-family: var(--heading-text);
    font-size: 1.5em;
    text-align: center;
    /* padding: .25em .25em; */
    margin-bottom: .25em;
}
.subheading-small {
    font-size: 1em;
    font-family: var(--heading-text);
    text-align: center;
    padding-top: 3em;
    margin-bottom: .25em;
}
.normal-text {
    font-family: var(--main-text);
    font-size: 1.05em;
    margin-bottom: .75em;
    line-height: 160%;
    padding: .3em 0;
}
/* .bg-fill-primary {
    background-color: var(--primary-colour);
    display: table;
    margin: 0 auto;
    padding: .15em;
}
.bg-fill-secondary {
    background-color: var(--secondary-colour);
    display: table;
    margin: 0 auto;
    padding: .15em;
} */




/*********/
/*TOP BAR*/
/*********/
.topbar {
    background-color: var(--main-dark);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 1em 1.5em;
    box-shadow: 0px 0px 5px var(--main-dark);
    min-width: 100vw;
    height: 3.5em;
    letter-spacing: 4px;
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 2em;
}
.logo img {
    /* width: 1.5em; */
    height: 100%;
    width: auto;
    position: relative;
    margin: 0 auto;
}
.nav .options {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;

}
.nav .options a {
    color: var(--background);
    font-family: var(--heading-text);
    font-size: .75em;
    padding: 0 1em;
    text-decoration: none;
    text-transform: uppercase;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}




/********/
/*FOOTER*/
/********/
.footer {
    background-color: var(--main-dark);
    color: var(--background);
    text-align: center;
    justify-content: center;
    font-size: .5em;
    padding: 1em;
}




/*************/
/*BREAKPOINTS*/
/*************/




/*******************/
/*BREAKPOINTS 768PX*/
/*******************/
@media screen and (min-width: 768px) {

    /* .logo img {
        width: 2em;
    } */
    .nav .options a {
        font-size: 1.05em;
        /* padding-right: 1em; */
        font-weight: 400;
        padding: 0 2em;

    }

 }



/********************/
/*BREAKPOINTS 1024PX*/
/********************/
@media screen and (min-width: 1024px) {

    .bg-fill-primary {
        text-align: left;
    }

    .heading, .subheading {
        text-align: left;
    }
    .subheading-small {
        font-size: 1.15em;
    }
    .normal-text {
        font-size: 1.15em;
        line-height: 150%;
    }

    .footer .heading {
        text-align: center;
    }

    .test img {
        width: 2em;;
    }

}