@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,800;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {

    /*COLOURS*/
    --background: #ffffff;
    --main-text: #2d2d2d;
    --main-dark: #2d2d2d;
    --primary-colour: #00C9C9;
    --secondary-colour: #ac6acf ; 

    /*FONTS*/
    /* --heading-text: font-family: 'Raleway', sans-serif; */
    --heading-text: 'Montserrat', sans-serif;
    --main-text: 'Lato', sans-serif;

}



/*********/
/*GENERAL*/
/*********/
/* body {
    padding-top: 48px;
} */
.intro, .about, .projects, .contact {
    padding: 2em 2em;
    /* margin: 2em 0; */

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading {
    font-family: var(--heading-text);
    font-size: 2em;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    /* padding-bottom: .25em; */
    /* margin-bottom: .5em; */
}
.subheading {
    font-family: var(--heading-text);
    font-size: 1.5em;
    text-align: center;
    /* padding: .25em .25em; */
    /* margin-bottom: .25em; */
}
.subheading-small {
    font-size: 1em;
    font-family: var(--heading-text);
    text-align: center;
}
.normal-text {
    font-family: var(--main-text);
    font-size: 1em;
}
.bg-fill {
    background-color: var(--secondary-colour);
    display: table;
    margin: 0 auto;
    /* justify-content: center; */
}

/*********/
/*TOP BAR*/
/*********/
.header {
    /* background-color: var(--background); */
    position: fixed;
    width: 100%;
}
.topbar {
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: .75em;
    box-shadow: 0px 0px 5px var(--main-dark);
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
    width: 100%;
}
.menu {
    background-color: transparent;
    padding: 0;
    border: 0;
    height: 24px;
    justify-self: start;
}
.menu .closed, .menu .opened {
    color:var(--main-dark);
    padding: 0;
    align-self: center;
}
.logo img {
    width: 1.5em;
    float: right;
    position: relative;
    align-self: center; 
}



/*Fullscreen menu*/
.nav {
    width: 100vw;
}
.nav .closed {
    display: none;
}
.nav .opened {
    background-color: var(--background);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.nav .options li {
    padding: 2em;
}
.nav .options a {
    color: var(--main-text);
    font-family: var(--heading-text);
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
}



/*******/
/*INTRO*/
/*******/
.intro {
    background-color: var(--primary-colour);
    justify-content: center;
}
.intro .blurb {
    font-family: var(--heading-text);
    /* font-size: 2em; */
    text-align: center;
}
/* .intro .blurb > p {
    padding: 0 3em;
} */



/*******/
/*ABOUT*/
/*******/
.about {
    text-align: left;
}



/********/
/*SKILLS*/
/********/
.skills img {
    width: 2em;
}



/**********/
/*PROJECTS*/
/**********/



/*********/
/*CONTACT*/
/*********/
